.container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('https://www.herofincorp.com/public/admin_assets/upload/blog/64b91a06ab1c8_food%20business%20ideas.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.flexcenter{
  height: 500px;
  padding: 20px;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo{
  margin: 10px;
  margin-bottom: 20px;
}
.box{
  text-align: center;
  background-color: rgba(0, 0, 0, 0.818);
  padding: 50px;
  border-radius: 20px;
  padding-left: 100px;
  padding-right: 100px;
}
.create{
  margin-right: 25px;
  padding: 0px;
  border: none;
  background-color: rgba(240, 248, 255, 0);
  color: gold;
  cursor: pointer;
  float: right;
}
.create:hover{
  text-decoration: underline;
  
}